<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Addpage</title>
</head>
<body>
  <h1><i>
    <% if(pixelschema){ %>
       Edit User
      <% }else{ %>
        Add user
      <% } %>
  </i></h1>
  <form action="/addpage"  method="POST">
    <label for="name">FullName:</label><br>
    <input type="text" name="fullName" value="<% if(pixelschema){ %><%= pixelschema.fullName %><%}%>" id="fullName">
    <span id="validName" class=""></span><br><br>

    <label for="email">Email:</label><br>
    <input type="text"  name="email" value="<%if(pixelschema){ %><%= pixelschema.email %><%}%>" id="email" readonly>
    <br><br>
    <span id="validEmail" class=""></span><br>

    <label for="password">Password</label><br>
    <input type="password"  name="password" value=""
     id="password">
    <br><br>
    <span id="validpassword" class=""></span><br>

    <label for="confirmPass">confirmPass</label><br>
    <input type="password"  name="confirmPass" value="" id="confirmPass">
    <br><br>
    <span id="confirmvalidPassword" class=""></span><br>
  <div class="form-group">
    <button type="button" user-id="<%if(pixelschema){ %><%= pixelschema._id %><%}%>" onclick="saveUserData()">Save</button>
  </div>
</form>

<script>
function validation(){
  var password = document.getElementById('password').value
  var confirmPass = document.getElementById('confirmPass').value
  var email = document.getElementById('email').value;
  var emailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;

  if(password !== ""){
    if(password.length<6){
      document.getElementById("validpassword").innerHTML = "password must be at least six digit"
      return false;
    } else if(confirmPass==="") {
      document.getElementById("validpassword").innerHTML = ""
      document.getElementById("confirmvalidPassword").innerHTML = "Please provide confirm password"
    } else if(password!==confirmPass){
        document.getElementById("confirmvalidPassword").innerHTML = "password and confirm password must be same"
        return false;
    }else{
      document.getElementById('confirmvalidPassword').innerHTML=""
      return true
    }
  }  else {
    return true
  }
}

function saveUserData() {
  console.log();
  if(validation() === true){
    let params = {
      "fullName" : fullName.value,
      "password" : password.value
    }
    let button = document.getElementsByTagName("button");
    let _id = button[0].getAttribute("user-id")
    
    const  xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function(){
        if(this.readyState===4 && this.status === 200) {
          let response = JSON.parse(this.response);
          console.log(response)
          // if(response.status === true) {
          //   window.location.pathname="/users"
          // }else {
          //   console.log("error :",response);
          // }
        }
      };
      xhttp.open("POST","/edit/"+_id,true);
      xhttp.setRequestHeader("Content-type", "application/json");
      xhttp.send(`${JSON.stringify(params)}`)
  } else {
    validation();
  }
}
</script>
</body>
</html>